@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@100..900&family=Nerko+One&display=swap');
body{
   /* background-color: rgb(255, 123, 0);*/
   background-image: url('../imagenes/perro.jpg');
   background-repeat:no-repeat ;
    color: #1122b9;
    background-size: cover;
    background-position: center;

    color:#1122b9

}
h1{
    font-family: "Nerko One", cursive;
    font-weight: 400;
    font-style: normal;    
}
p{
    font-family: "Handjet", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-size: 20px;
    font-style: normal;
    font-variation-settings:
      "ELGR" 1,
      "ELSH" 2;
}
a{
    font-family: "Nerko One", sans-serif;
    font-weight: 500;
    font-size: 50px;
    text-decoration: none;
}
img{
    width: 500px;
    height: auto;
}
div{
    width: 500px;
    height: 50px;
    background-color: rgb(255, 0, 0);
    border:5px dotted #000000
}